@model IEnumerable<LightNovelSite.Models.Novels>

@{
    ViewData["Title"] = "Novels";
}

<h1>Novels</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapters)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapters)
            </td>

            <td>
                <a asp-action="Read" asp-route-id="@item.Title">Read</a> |
                <a asp-action="Edit" asp-route-id="@item.Title">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Title">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Title">Delete</a>
                <a asp-action="AddChapter" asp-route-id="@item.Title">Add Chapter</a>
            </td>
        </tr>
}
    </tbody>
</table>
